/*
 * 2015-10-30
 * Created by cylong
 * 首页有关的css代码
 */

div.content {
	float: left;
	width: 65%;
	background-color: rgba(189,79,243,0.8);
	height: 100%;
}

div#inputarea {
	min-height: 178px;
	padding: 15px;
	background-color: #FEF59C;
}
div#inputarea span {
	float: left;
	width: 100%;
	min-width: 180px;
}

div#inputarea textarea {
	float: left;
	width: 100%;
	min-height: 80px;
	margin-top: 8px;
	margin-bottom: 8px;
	resize: none;
	outline-color: #FA7D3C;
	border-color: #CCCCCC;
}

div#inputarea button {
	float: right;
	border-radius: 0;
}

div#head {
	float: left;
	margin-left: 20px;
	margin-right: 10px;
	width: 16%;
	min-height: 200px;
	text-align: center;
}

div#head img{
	width: 90%;
	border-radius: 50%;
	box-shadow: 0 0 10px #000;
}

div#head a:link, a:visited {
	font-weight:bold;
	font-size:14px;
	color:#222222;
	padding:4px;
	text-decoration:none;
}

div#head a:hover,a:active {
	color: #FFFFFF;
}

.title {
	display: block;
	color: #222222;
	margin: 15px;
	font-size: 18px;
	font-weight: 20;
}

.subtitle {
	display: block;
	color: #222222;
	width: 100%;
	text-align: center;
	margin: 12px auto;
	min-width: 100px;
	font-size: 15px;
	font-weight: 20;
}

.sort-num {
	font-size: 14px;
	font-weight: bold;
	color: white;
	float: left;
	border-radius:50%;
	background-color: #5BB734;
	margin-right: 15px;
	width: 20px;
	text-align: center;
}

.sort-head {
	width: 20px;
	margin-right: 15px;
}

.run-total {
	display: inline;
	margin: 10px 30px;
}

.em-big {
	font-size: 30px;
	font-weight: bold;
	color: white;
	border-radius:10%;
	padding: 1px 2px;
	margin: 0 4px;
	background-color: #F65150;
	text-align: center;
}

.sort-info {
	float: right;
	margin: 0 10px;
}

.ranking-tab {
	margin: 3px 5%;
}

.news-item {
	margin: 10px 0;
	padding: 12px;
	background-color: rgba(255,255,255, 0.3);
}

.item-name {
	display: block;
	color: black;
	font-size: 15px;
}

.item-head {
	float: left;
	border-radius: 50%;
	width: 40px;
	height: 100%;
	margin: 0 15px;
}

.item-date {
	font-size: 12px;
}

.item-content {
	margin-left:  70px;
	margin-top: 10px;
}

.bmi {
	text-align: center;
	margin-top: 5px;
	margin-left: 10%;
	width: 20%;
}

.bmi button {
	margin-top: 10px;
}

.input-group-sm > .input-group-addon {
	border-radius: 0;
	color: white;
	background-color: rgba(105,191,78,0.9);
}