/*
 * 2015-10-30
 * Created by cylong
 */


body {
	background-image: url(../images/bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

div.box {
	background-color: rgba(181,149,198,0.5);
	padding-top: 30px;
	padding-left: 0;
	padding-right: 0;
	margin-top: 50px;
	width: 80%;
	height: 1000px;
}

ul.sidebar {
	float: left;
	width:15%;
	min-width: 100px;
	line-height: 30px;
}

ul.sidebar a {
	color: #222222;
}

div.content {
	float: left;
	width: 65%;
	background-color: #ACE04A;
	height: 100%;
}

div#inputarea {
	min-height: 178px;
	padding: 15px;
	background-color: #FEF59C;
}
div#inputarea span {
	float: left;
	width: 100%;
	min-width: 180px;
}

div#inputarea textarea {
	float: left;
	width: 100%;
	min-height: 80px;
	margin-top: 8px;
	margin-bottom: 8px;
	resize: none;
	outline-color: #FA7D3C;
	border-color: #CCCCCC;
}

div#inputarea button {
	float: right;
	border-radius: 0;
}

div#head {
	float: left;
	margin-left: 20px;
	margin-right: 10px;
	width: 16%;
	min-height: 200px;
	text-align: center;
}

div#head img{
	width: 90%;
	box-shadow: 0 0 10px #000;
}

div#head a:link, a:visited {
	font-weight:bold;
	font-size:14px;
	color:#222222;
	padding:4px;
	text-decoration:none;
}

div#head a:hover,a:active {
	color: #FFFFFF;
}
