/*
 * 2015-10-31
 * Created by cylong
 */

body {
	background-image: url(../images/bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

div.box {
	background-color: rgba(181,149,198,0.5);
	padding-top: 30px;
	padding-left: 0;
	padding-right: 0;
	margin-top: 50px;
	width: 80%;
	min-width: 760px;
	height: 1000px;
}

ul.sidebar {
	float: left;
	width:15%;
	min-width: 100px;
	line-height: 30px;
}

ul.sidebar a {
	color: #222222;
}
